extends layout

block content


    #meet
        center
            h1 About us
            h2.main-title Meet The Team
            hr
            p &ldquo;MANAGEMENT TEAM &rdquo;
    #meet-the-team
        #team-member1
            img.img-responsive.img-thumbnail.bounce-in.no-display.animated.bounceIn.appear(src='images/prem.jpg' alt='')
            h5
                | Prem Kumar
                small.role.muted  (Web Design)
            p
                | Computer Science CSE/15/129
        #team-member2
            img.img-responsive.img-thumbnail.bounce-in.no-display.animated.bounceIn.appear(src='images/mohit.jpg' alt='')
            h5
                | Mohit Gupta
                small.role.muted (Management Director)
            p Computer Science CSE/15/112

                h2  Contact us
                p
                    | Email:bmiet@gmail.com

