extends layout

block content
    h1 WELCOME TO B.M.I.E.T
      ul.list-group
        each article, i in articles
          li.list-group-item
            a(href="/articles/"+article._id)= article.title
