extends layout

block content
    h3 LIST OF ALL STUDENTS
         ul.list-group
           each student, i in articles
             li.list-group-item
               a(href="/articles/"+student._id)= student.name
